# Python
__pycache__/
*.pyc
.venv/
venv/

# Data (don't commit large/raw data to git)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Model artifacts
artifacts/*
!artifacts/.gitkeep
models/*.pkl
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

logs/